@import "vanilla-framework";
@include vanilla;
@include vf-p-icon-plans;

.no-entity-card {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__icon {
    @media screen and (width < $breakpoint-small) {
      display: none;
    }

    height: 100px;
    width: 100px;
    margin-right: $sp-xx-large;
    opacity: 25%;
  }
}
